.information {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 70%;
}

.main {
    padding-top:25px;
    display: flex;
}

.main-img {
    border-radius: 50%;
}

.center-image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px; 
    text-align: justify;
    word-wrap: break-word;
}

.storefront {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 33pt;
}

.wrapper {
    background-color: white;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 97%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.wrapper:before, .wrapper:after {
    content: "";
    position: absolute;
    height: 400px;
    width: 500px;
    z-index: 2;
}

.wrapper:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.wrapper:before {
    left: 0;
    top: 0;
}

.wrapper .track {
    display: flex;
    width: calc(500px * 11);
    animation: scroll 45s 0.5s linear infinite;
}

.wrapper .workImage {
    width: 500px;
}

.wrapper .workImage img {
    height: 350px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-500px * 11));
    }
}