body {
    -webkit-text-size-adjust: none;
}

.top-banner {
    padding-bottom: 25px;
}

.information {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 70%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 35px; 
    text-align: justify;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(62, 71, 71);
    animation-name: reverse-color-change;
    animation-duration: 1s;
}

a:hover {
    animation: color-change 1s forwards;
}

.westprint {
    padding-bottom: 25px;
}

.main {
    opacity: 0%;
    padding-top:50px;
    display: flex;
    animation: fade-in 2.0s 0.5s forwards;
}

.education {
    padding-top: 25px;
}

.skills {
    padding-top: 25px;
}

.left-hang {
    float: left; 
    text-align: left;
}

.right-hang {
    float: right;
    text-align: right;
}

.bio-text {
    text-align: left;
    padding-left: 25px;
}

.bio {
    text-align: left; 
    padding-left: 25px; 
    font-size: 14pt;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes color-change {
    from {
        color: rgb(62, 71, 71);
    } to {
        color: #66bbbb;
    }
}

@keyframes reverse-color-change {
    from {
        color: rgb(102, 187, 187);
    } to {
        color: rgb(62, 71, 71);
    }
}

.main-img {
    border-radius: 50%;
    width: 20vh;
}

h1 {
    text-align: center;
    font-size: 33pt;
}

/* Banner scrolling catalogue */

.wrapper {
    background-color: white;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 97%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.wrapper:before, .wrapper:after {
    content: "";
    position: absolute;
    height: 400px;
    width: 500px;
    z-index: 2;
}

.wrapper:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.wrapper:before {
    left: 0;
    top: 0;
}

.wrapper .track {
    display: flex;
    width: calc(500px * 13);
    animation: scroll 55s 0.5s linear infinite;
}

.wrapper .workImage {
    width: 500px;
}

.wrapper .workImage img {
    height: 350px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(calc(-500px * 13));
    }
}